/* Общие стили для проекта */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 280px;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: black;
  color: white;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
}

html,
body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: "Montserrat";
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

.text {
  font-size: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
  font-weight: 400;
  line-height: 25px;
  text-align: left;
}

.secondary-title {
  font-size: clamp(1.5rem, 1.0179rem + 2.4107vw, 3.1875rem);
}

/* Стили для блока header */

.header {
  display: flex;
  align-items: center;
  gap: 108px;
  margin: 23px 85px 56px 85px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__login {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.header__login:hover {
  opacity: 0.5;
}

/* Стили для блока introduction */
.introduction {
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.introduction__about-block {
  display: flex;
  justify-content: space-around;
}

.introduction__text-block {
  display: flex;
  flex-direction: column;
  gap: 129px;
  max-inline-size: 643px;
  margin-block-start: 125px;
}

.introduction__title {
  font-size: clamp(2.1875rem, 1.6696rem + 2.5893vw, 4rem);
}

.introduction__text {
  position: relative;
  font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
  padding-inline-start: 100px;
}

.introduction__text::before {
  content: "";
  position: absolute;
  width: 120px;
  border: 2px solid rgba(255, 255, 255, 1);
  left: -40px;
  bottom: 60px;
  transform: rotate(120deg);
}

.introduction__text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 50%;
  width: 125px;
  height: 125px;
  background-color: rgba(96, 92, 234, 0.5);
  filter: blur(50px);
}

.phone-introduction {
  inline-size: 400px;
  block-size: 668;
}

/* .introduction__download {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-block-start: 40px;
  margin-block-end: 40px;
} */

.introduction__download {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-block-start: 140px;
  margin-block-end: 40px;
}

.introduction__subtitle {
  font-size: clamp(1.5rem, 1.4821rem + 0.0893vw, 1.5625rem);
  line-height: 70px;
  text-transform: uppercase;
}

.introduction__download-apps {
  display: flex;
  gap: 28px;
}

/* Стили для блока future */
.future {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.future__img {
  transform: rotate(90deg);
  inline-size: 498px;
}

.future__text-block {
  max-inline-size: 338px;
  margin-inline-end: 184px;
}

/* Стили для блока scanner */
.scanner {
  display: flex;
  justify-content: space-around;
  align-items: end;
  margin-block-start: 128px;
  padding: 55px 40px;
  /* background-image: url("./images/bg-scanner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */

  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.5) 20%,
      rgba(0, 0, 0, 0.3) 60%,
      rgba(0, 0, 0, 1)
    ),
    url("./images/bg-scanner.jpg") no-repeat center center/cover;
}

.scanner__title {
  font-size: 50px;
}

/* .scanner__text-block {
  max-inline-size: 400px;
} */

/* Стили для блока qr-code */
.qr-code {
  display: flex;
  justify-content: space-around;
  align-items: end;
  margin-block-start: 137px;
  padding: 55px 40px;
  /* background-image: url("./images/bg-code.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */

  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 1)
    ),
    url("./images/bg-code.jpg") no-repeat center center/cover;
}

.text-block {
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-inline-size: 412px;
}

.qr-code__block-title {
  font-size: 52px;
}

.qr-code__block-text {
  font-size: 18px;
  line-height: 25px;
}

/* Стили для блока download-apps */
.download-apps {
  display: flex;
  gap: 33px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 152px;
  margin-block-end: 125px;
}

.download-apps__title {
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
  text-transform: uppercase;
}

.download-apps__block {
  display: flex;
  gap: 60px;
}

/* Стили для блока footer */
.footer {
  display: flex;
  justify-content: space-between;
  margin-block-start: 125px;
  margin-inline-start: 100px;
  margin-inline-end: 100px;
  margin-block-end: 74px;
}

.contact-block {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.email-block {
  display: flex;
}

.privacy-policy {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Медиазапросы для проекта */

@media (width <= 1160px) {
  /* Блок introduction */
  .introduction__download {
    gap: 34px;
    flex-direction: column;
  }

  /* Блок future */
  .future {
    justify-content: space-around;
  }
  .future__img {
    inline-size: 450px;
    transform: rotate(0deg);
  }
  .future__text-block {
    margin-inline-end: 0;
  }
}

@media (width <= 900px) {
  /* Sections */
  .section {
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  /* Блок Introduction */
  /* .introduction__text-block {
    position: relative;
  }

  .phone-introduction {
    position: absolute;
  } */

  .introduction__download-apps {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .introduction__text-block {
    gap: 50px;
  }

  .introduction__text {
    padding-inline-start: 0;
  }

  .introduction__text::before {
    display: none;
  }

  .introduction__text::after {
    display: none;
  }

  /* Блок future */
  .future {
    flex-direction: column-reverse;
  }

  /* Блок scanner */
  .scanner {
    flex-direction: column-reverse;
  }

  /* Блок qr-code */
  .qr-code {
    flex-direction: column;
  }
}

@media (width <= 760px) {
  /* Стили для блока header */
  .header {
    display: flex;
    justify-content: space-around;
    gap: 90px;
    margin: 20px;
  }

  .header__logo-img {
    block-size: 52px;
    inline-size: 52px;
  }

  .header__logo-text {
    block-size: 12px;
    inline-size: 47px;
  }

  /* Стили для блока introduction */
  .phone-introduction {
    margin-inline-end: -200px;
    /* s */
  }

  .download-apps__block {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
  }

  /* Стили для блока footer */
  .footer {
    text-align: center;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 100px 0 74px 0;
  }

  .email-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
